<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.simplify.prosperoinv">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pengadaan.DetailBarang" />
        <activity android:name=".pengadaan.tbhbarangbaru" />
        <activity android:name=".Login" />
        <activity android:name=".pengadaan.Pengadaan3Activity" />
        <activity
            android:name=".produksi.produksi"
            android:label="@string/title_activity_produksi"
            android:theme="@style/AppTheme" />
        <activity android:name=".produksi.update_produksi" />
        <activity android:name=".dummy" />
        <activity android:name=".penjualan.Penjualan1" />
        <activity android:name=".penjualan.Detail" />
        <activity android:name=".distribusi.Distribusi1" />
        <activity android:name=".distribusi.D_adapter" />
        <activity android:name=".pengadaan.TambahPesanan" />
        <activity android:name=".produksi.BarangBarang" />
        <activity android:name=".produksi.DetailBarangJadi"></activity>
    </application>

</manifest>